.u-section-1 .u-sheet-1 {
  min-height: 525px;
}

.u-section-1 .u-text-1 {
  margin: 25px auto 0 25px;
}

.u-section-1 .u-form-1 {
  height: 375px;
  margin: 25px 545px 47px 25px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
    margin-right: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}