.u-section-1 .u-sheet-1 {
  min-height: 438px;
}

.u-section-1 .u-text-1 {
  margin: 25px auto 0 25px;
}

.u-section-1 .u-text-2 {
  margin: 25px auto 0 25px;
}

.u-section-1 .u-form-1 {
  height: 181px;
  margin: 25px 545px 60px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}