{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Возврат и обмен</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/refund_and_Exchange.css' %}" media="screen">
{% endblock %}

{% block SignIn %}
        {{ user.login|default:"Регистрация/вход" }}
{% endblock %}

{% block cart %} {{ cart_count|default:"0" }} {% endblock %}

{% block content %}

    <section class="u-align-left u-clearfix u-section-1" id="sec-d2a1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Возврат и обмен товара</h1>
        <p class="u-text u-text-2"> Возврат товара&nbsp;надлежащего качества&nbsp;проводится, если товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки.<br>
        </p>
        <p class="u-text u-text-3"> Товары надлежащего качества, не подлежащие возврату : технически сложные товары бытового назначения ( телефоны, ноутбуки и тд), товары отпускающийся на отрез ( витая пара, монтажный провод, плоский, акустический, силовой кабель), электронные компоненты впаянные в плату.</p>
        <p class="u-text u-text-4"> Мы не принимаем на возврат товары, имеющие индивидуально-определенные свойства, если указанный товар может быть использован исключительно потребителем, который купил его.</p>
        <p class="u-text u-text-5"> В случае продажи физическому или юридическому лицу товара&nbsp;<span style="font-weight: 700;">ненадлежащего*</span>&nbsp;качества или невозможности поставки товара в установленный в счете на оплату срок Компания, по желанию покупателя, производит:&nbsp;
        </p>
        <ul class="u-text u-text-6">
          <li> замену на товар аналогичной марки (модели, артикула);</li>
          <li>замену на товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены;</li>
          <li>возврат уплаченной за товар денежной суммы.</li>
        </ul>
        <p class="u-text u-text-7"> * Та же процедура для товара надлежащего качества</p>
      </div>
    </section>
{% endblock %}