{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Рассрочка</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" media="screen">
{% endblock %}

{% block SignIn %}
    {% if user %}
        {{ user.login }}
    {% else %}
        Регистрация/Вход
    {% endif %}
{% endblock %}

{% block cart %} {{ cart_count }} {% endblock %}

<link rel="stylesheet" href="{% static 'css/installments.css' %}">


    <section class="u-clearfix u-section-1" id="sec-87ab">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Рассрочка</h1>
      </div>
    </section>