{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Оплата</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/payments.css' %}" media="screen">
{% endblock %}

{% block SignIn %}
    {% if user %}
        {{ user.login }}
    {% else %}
        Регистрация/Вход
    {% endif %}
{% endblock %}

{% block cart %} {{ cart_count }} {% endblock %}

{% block content %}
    <section class="u-align-left u-clearfix u-section-1" id="sec-9b59">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-1">Способы оплаты</h1>
        <h3 class="u-text u-text-default u-text-2">Банковский перевод</h3>
        <p class="u-text u-text-3"> Банковский перевод (безналичный расчет)Юридические лица оплачивают заказ согласно выписанному счету. Физические лица могут оплатить заказ банковским переводом через Сбербанк РФ или любой другой банк. Формирование заказа производится сразу после подтверждения факта оплаты. При формировании заказа вы указываете способ, которым хотите получить счет. Наиболее популярные способы – email (счет высылается прикрепленным файлом к письму) и факс. Кроме того, вы можете взять счет прямо с нашего сайта в своем «Личном кабинете» (чтобы попасть туда нужно авторизоваться на сайте, введя свой логин/пароль в разделе «Регистрация/Вход»).</p>
        <h3 class="u-text u-text-4">Оплата при получении</h3>
        <p class="u-text u-text-5"> Вы оплачиваете заказ курьеру при получении наличными или банковской картой. Все необходимые финансовые документы курьер вручит вам вместе с заказом. Эта форма оплаты действует только при условии поставки товаров&nbsp;со склада&nbsp;или&nbsp;из розничной сети, позиции на заказ поставляются только после предварительной предоплаты всего заказа.</p>
        <h3 class="u-text u-text-6">Оплата при самовывозе</h3>
        <p class="u-text u-text-7"> Вы можете оплатить ваш заказ в точке самовывоза, которую вы выбрали при оформлении своего заказа. Оплата возможна наличиными деньгами и банковскими картами. Заказ, состоящий из позиций, поставляемых&nbsp;со склада&nbsp;или&nbsp;из розничной сети, вы можете оплатить непосредственно при его получении.</p>
        <h3 class="u-text u-text-8">Электронные платежи</h3>
        <p class="u-text u-text-9"> Для осуществления платежа одним из нижеперечисленных способов при оформлении заказа в нашем интернет-магазине укажите способ оплаты&nbsp;«Оплатить онлайн».После обработки вашего заказа, вам на e-mail указанный при регистрации поступит уведомление с приглашением зайти на специальную страницу сайта для подтверждения вашего заказа. Эта же ссылка появляется сразу после обработки вашего заказа в разделе&nbsp;Мои заказы&nbsp;(Регистрация/Вход&nbsp;- (вводите логин и пароль) -&nbsp;Личный кабинет&nbsp;-&nbsp;Мои заказы).<br>
          <br>
        </p>
      </div>
    </section>
{% endblock %}